<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, 
								initial-scale=1.0" />
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
	<title>Document</title>
	<link rel="stylesheet" href="css/404.css">
</head>

<body>
	<section class="py-5">
		<div class="d-flex justify-content-center 
					align-items-center flex-column 
					text-center w-100">
			<div class="bg_img w-50">
			</div>
			<div>
				<p class="display-2">Looks Like You're Lost</p>
				<p class="game-text">The page you are looking for not available...</p>
				<a href="/" class="text-white text-decoration-none px-4 py-3 
						bg-success d-inline-block mt-2 rounded display-1">
					Go Back
				</a>
			</div>
		</div>
	</section>
</body>

</html>