<form action="/categories/add" method="POST">
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" name="categoryName" id="category" class="form-control" autofocus />
  </div>
  <button type="submit" class="btn btn-primary">Add Category</button>
</form>