<h2>Add Post</h2>
<form action="/items/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" id="body" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="featureImage">Feature Image:</label>
        <input type="file" name="featureImage" id="featureImage" class="form-control" />
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        {{#if categories}}
        <select class="form-control" name="category" id="category">
            <option value="">Select Category</option>
            {{#each categories}}
            <option value="{{id}}">{{category}}</option>
            {{/each}}
        </select>
        {{else}}
        <div>No Categories</div>
        {{/if}}
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" class="form-control" />
    </div>
    <div class="form-group">
        <label for="published">Published:</label>
        <input type="checkbox" name="published" id="published" value="true" />
    </div>
    <button type="submit" class="btn btn-primary">Add Post</button>
</form>